<mat-toolbar color="primary" class="transparent-toolbar">
  <span style="font-family: Garamond, serif; font-size:24px; " (click)="home()">My Plants</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" style="font-size: 14px; width: 100px;" routerLink="/new-flower">Dodaj cvet</button>
  <button mat-icon-button class="example-icon" style="font-size: 14px; width: 100px;" routerLink="/flowers">Cvece</button>

  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon style="font-size: 24px;  ">favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon style="font-size: 24px;  ">share</mat-icon>
  </button>
</mat-toolbar>
