.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10%;
}

.tab-group {
  flex: 1;
  margin-right: 20px;
}

.left-container {
  background-color: transparent;
  padding: 20px;
}

.right-container {
  flex: 1;
}

h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

ul {
  margin: 10px 0;
  padding-left: 20px;
}

li {
  list-style-type: disc;
}

img {
  max-width: 80%;
  height: auto;
}
